<html>
<head>
  <style>
    table, tr, th, td {
      border: solid 1px black;
    }
    th {
      padding: 3px;
    }
    .center {
      text-align: center;
      padding: 3px;
      min-width: 10px;
    }

    .unhealthy {
      background-color: #ff4c4c;
    }

    .healthy {
      background-color: #12E603;
    }
  </style>
</head>
<body ng-app="gatorloopWebApp">
  <div ng-controller="healthCheckCTRL">
    <h4>Current State: {{currentState ? currentState : "Initialization"}}</h4>

    <button ng-click="sendEmergencyBrake()">Engage Emergency Brake</button>
    <button ng-click="sendKillPower()">Send Kill Power</button>

    <br />
    <br />

    <!-- Main Battery Table -->
    <table>
      <thead>
        <tr>
          <th colspan="4" style="width:100%; text-align: center">
            Main Battery
          </th>
        </tr>
        <tr>
          <th></th>
          <th>
            Lower Bound
          </th>
          <th style="padding-left: 10px; padding-right: 10px;">
            Actual
          </th>
          <th>
            Upper Bound
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="primaryBattery.pack1_temp > batteryTempUpperBound || primaryBattery.pack1_temp < batteryTempLowerBound ? 'unhealthy': 'healthy'">
          <td>
            Temperature
          </td>
          <td class="center">
            -20 °C
          </td>
          <td class="center">
            <div ng-if="primaryBattery.pack1_temp === -65001">
              "Error"
            </div>
            <div ng-if="primaryBattery.pack1_temp !== -65001">
              {{primaryBattery.pack1_temp | number:2}} °C
            </div>
          </td>
          <td class="center">
            70 °C
          </td>
        </tr>

        <tr ng-class="primaryBattery.voltage < batteryVoltageLowerBound || primaryBattery.voltage > batteryVoltageUpperBound ? 'unhealthy' : 'healthy'">
          <td>
            Voltage
          </td>
          <td class="center">
            {{batteryVoltageLowerBound}} V
          </td>
          <td class="center">
            {{primaryBattery.voltage | number:2}} V
          </td>
          <td class="center">
            {{batteryVoltageUpperBound}} V
          </td>
        </tr>

        <tr ng-class="primaryBattery.soc < batterySOCLowerBound || primaryBattery.soc > batterySOCUpperBound ? 'unhealthy' : 'healthy'">
          <td>
            State of Charge
          </td>
          <td class="center">
            {{batterySOCLowerBound}}%
          </td>
          <td class="center">
            {{primaryBattery.soc | number:2}}%
          </td>
          <td class="center">
            {{batterySOCUpperBound}}%
          </td>
        </tr>

        <tr ng-class="primaryBattery.amp_hours < batteryAHLowerBound || primaryBattery.amp_hours > batteryAHUpperBound ? 'unhealthy' : 'healthy'">
          <td>
            A-H
          </td>
          <td class="center">
            {{batteryAHLowerBound}}
          </td>
          <td class="center">
            {{primaryBattery.amp_hours | number:2}}
          </td>
          <td class="center">
            {{batteryAHUpperBound}}
          </td>
        </tr>
      </tbody>
    </table>

    <br />
    <br />

    <!-- Auxiliary Battery Table -->
    <table>
      <thead>
        <tr>
          <th colspan="4" style="width:100%; text-align: center">
            Auxiliary Battery
          </th>
        </tr>
        <tr>
          <th></th>
          <th>
            Lower Bound
          </th>
          <th style="padding-left: 10px; padding-right: 10px;">
            Actual
          </th>
          <th>
            Upper Bound
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Temperature
          </td>
          <td class="center">
            N/A
          </td>
          <td class="center">
            <div>
              N/A
            </div>
          </td>
          <td class="center">
            N/A
          </td>
        </tr>

        <tr ng-class="auxBattery.voltage < batteryVoltageLowerBound || auxBattery.voltage > batteryVoltageUpperBound ? 'unhealthy' : 'healthy'">
          <td>
            Voltage
          </td>
          <td class="center">
            {{batteryVoltageLowerBound}} V
          </td>
          <td class="center">
            {{auxBattery.voltage | number:2}} V
          </td>
          <td class="center">
            {{batteryVoltageUpperBound}} V
          </td>
        </tr>

        <tr ng-class="auxBattery.soc < batterySOCLowerBound || auxBattery.soc > batterySOCUpperBound ? 'unhealthy' : 'healthy'">
          <td>
            State of Charge
          </td>
          <td class="center">
            {{batterySOCLowerBound}}%
          </td>
          <td class="center">
            {{auxBattery.soc | number:2}}%
          </td>
          <td class="center">
            {{batterySOCUpperBound}}%
          </td>
        </tr>

        <tr ng-class="auxBattery.amp_hours < batteryAHLowerBound || auxBattery.amp_hours > batteryAHUpperBound ? 'unhealthy' : 'healthy'">
          <td>
            A-H
          </td>
          <td class="center">
            {{batteryAHLowerBound}}
          </td>
          <td class="center">
            {{auxBattery.amp_hours | number:2}}
          </td>
          <td class="center">
            {{batteryAHUpperBound}}
          </td>
        </tr>
      </tbody>
    </table>

    <h4>Velocity: {{currentVelocity}}</h4>
    <h4>Acceleration: {{currentAcceleration}}</h4>
  </div>




  <script src="/node_modules?resource=angular/angular.js"></script>
  <script src="/static?resource=scripts/app.js"></script>
  <script src="/static?resource=scripts/controllers/healthCheck.js"></script>
  <script src="/static?resource=scripts/services/dashboardService.js"></script>
</body>
