<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gatorloop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static?resource=styles/main.css">
    <!-- <script type="text/javascript" src="//cdn.socket.io/socket.io-1.1.0.js" integrity="ni:///sha-256;4omls-f3OZnoi9yQzyNT9_vPSo8hb-oTnjdwgyUcJV8=?ct=application/javascript"></script> -->
  </head>
  <body ng-app="gatorloopWebApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-controller="dashboardCTRL">
      <button ng-click="startGettingData()">start</button>
      <button ng-click="stopGettingData()">stop</button>
      <table>
        <thead>
          <th style="text-align:center; padding: 20px;">Current Velocity <h4>{{currentVelocity}}</h4></th>
          <th style="text-align:center; padding: 20px;">Current Acceleration <h4>{{currentAcceleration}}</h4></th>
          <th style="text-align:center; padding: 20px;">Current Position <h4>{{currentPosition}}</h4></th>
          <th style="text-align:center; padding: 20px;">Current Temperature <h4>{{currentTemperature}}</h4></th>
          <th style="text-align:center; padding: 20px;">Current Primary Battery <h4>{{currentPrimaryBattery}}</h4></th>
          <th style="text-align:center; padding: 20px;">Current Aux Battery <h4>{{currentAuxiliaryBattery}}</h4></th>
          <th style="text-align:center; padding: 20px;">Current Rotations <h4>{{currentRotation}}</h4></th>

        </thead>
        <tbody style="text-align:center;">
          <tr>
            <td style="border-left: solid 1px black;">
              <table>
                <tr ng-repeat="v in velocities track by $index">
                  <td>{{v}}</td>
                </tr>
              </table>
            </td>
            <td style="border-left: solid 1px black;">
              <table>
                <tr ng-repeat="a in accelerations track by $index">
                  <td>{{a}}</td>
                </tr>
              </table>
            </td>
            <td style="border-left: solid 1px black;">
              <table>
                <tr ng-repeat="p in positions track by $index">
                  <td>{{p}}</td>
                </tr>
              </table>
            </td>
            <td style="border-left: solid 1px black;">
              <table>
                <tr ng-repeat="t in temperatures track by $index">
                  <td>{{t}}</td>
                </tr>
              </table>
            </td>
            <td style="border-left: solid 1px black;">
              <table>
                <tr ng-repeat="p in primaryBatterys track by $index">
                  <td>{{p.voltage}}, {{p.soc}}, {{p.temperature}}, {{p.amp_hours}}</td>
                </tr>
              </table>
            </td>
            <td style="border-left: solid 1px black;">
              <table>
                <tr ng-repeat="a in auxiliaryBatterys track by $index">
                  <td>{{a.voltage}}, {{a.soc}}, {{a.temperature}}, {{a.amp_hours}}</td>
                </tr>
              </table>
            </td>
            <td style="border-left: solid 1px black;">
              <table>
                <tr ng-repeat="r in rotations track by $index">
                  <td>{{r.r}}, {{r.p}}, {{r.y}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="/node_modules?resource=angular/angular.js"></script>
    <script src="/static?resource=scripts/app.js"></script>
    <script src="/static?resource=scripts/controllers/dashboard.js"></script>
    <script src="/static?resource=scripts/services/dashboardService.js"></script>
</body>
</html>
